In [79]:
import pandas as pd
import numpy as np

In [24]:
#Read in the data
jan2017Data = pd.read_csv('AIS_2017_01_Zone10.csv')

In [25]:
#Subset data for faster computation
jan2017Data = jan2017Data.iloc[:1000000]

In [26]:
#Change a column to datetime 
jan2017Data['BaseDateTime'] = pd.to_datetime(jan2017Data['BaseDateTime'])

In [47]:
jan2017Data.columns

Index(['MMSI', 'BaseDateTime', 'LAT', 'LON', 'SOG', 'COG', 'Heading',
       'VesselName', 'IMO', 'CallSign', 'VesselType', 'Status', 'Length',
       'Width', 'Draft', 'Cargo'],
      dtype='object')

In [62]:
# def f(x):
#     print(x)
#     d = {name:x[name] for name in x.columns}
#     d['differential'] = x['BaseDateTime'].diff()
#     return pd.Series(d, index=list(d.keys()))

aggDf = jan2017Data.groupby('MMSI', sort=False)\
                   .apply(lambda df: df.sort_values(by='BaseDateTime'))\
#                    .groupby('MMSI', sort=False)
#                    .apply(f)

# new = aggDf.apply(f)

In [80]:
mux = pd.MultiIndex.from_arrays([
    list('aaaabbbbbccddddd'),
    list('tuvwtuvwtuvwtuvw')
], names=['one', 'two'])

df = pd.DataFrame({'col': np.arange(len(mux))}, mux)

In [86]:
df.index

MultiIndex([('a', 't'),
            ('a', 'u'),
            ('a', 'v'),
            ('a', 'w'),
            ('b', 't'),
            ('b', 'u'),
            ('b', 'v'),
            ('b', 'w'),
            ('b', 't'),
            ('c', 'u'),
            ('c', 'v'),
            ('d', 'w'),
            ('d', 't'),
            ('d', 'u'),
            ('d', 'v'),
            ('d', 'w')],
           names=['one', 'two'])

In [117]:
aggDf.groupby(level=0,axis=1).apply(lambda val: print(type(val)))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

Empty DataFrame
Columns: []
Index: []

In [124]:
aggDf

                       MMSI        BaseDateTime       LAT        LON   SOG  \
MMSI
367114690 0       367114690 2017-01-01 00:00:06  48.51094 -122.60705   0.0
          290     367114690 2017-01-01 00:01:17  48.51093 -122.60705   0.0
          831     367114690 2017-01-01 00:02:26  48.51094 -122.60707   0.0
          1799    367114690 2017-01-01 00:03:27  48.51096 -122.60707   0.0
          3992    367114690 2017-01-01 00:04:36  48.51094 -122.60707   0.0
...                     ...                 ...       ...        ...   ...
338169735 979702  338169735 2017-01-02 03:29:47  37.80914 -122.39951  27.2
          979705  338169735 2017-01-02 03:30:48  37.81282 -122.40810  26.8
          979706  338169735 2017-01-02 03:31:49  37.81316 -122.41739  26.1
          979716  338169735 2017-01-02 03:32:50  37.81191 -122.42675  26.5
          980513  338169735 2017-01-02 03:35:54  37.80660 -122.43247   0.0

                    COG  Heading     VesselName  IMO CallSign  VesselType  \
MMSI
367114690 0       -49.6    511.0            NaN  NaN      NaN         NaN
          290     -49.6    511.0            NaN  NaN      NaN         NaN
          831     -49.6    511.0            NaN  NaN      NaN         NaN
          1799    -49.6    511.0            NaN  NaN      NaN         NaN
          3992    -49.6    511.0            NaN  NaN      NaN         NaN
...                 ...      ...            ...  ...      ...         ...
338169735 979702 -103.9    511.0  SAN FRANCISCO  NaN      NaN         NaN
          979705 -123.6    511.0  SAN FRANCISCO  NaN      NaN         NaN
          979706 -142.3    511.0  SAN FRANCISCO  NaN      NaN         NaN
          979716 -155.7    511.0  SAN FRANCISCO  NaN      NaN         NaN
          980513 -169.3    511.0  SAN FRANCISCO  NaN      NaN         NaN

                                  Status  Length  Width  Draft  Cargo
MMSI
367114690 0       under way using engine     NaN    NaN    NaN    NaN
          290     under way using engine     NaN    NaN    NaN    NaN
          831     under way using engine     NaN    NaN    NaN    NaN
          1799    under way using engine     NaN    NaN    NaN    NaN
          3992    under way using engine     NaN    NaN    NaN    NaN
...                                  ...     ...    ...    ...    ...
338169735 979702  under way using engine    9.14    NaN    NaN    NaN
          979705  under way using engine    9.14    NaN    NaN    NaN
          979706  under way using engine    9.14    NaN    NaN    NaN
          979716  under way using engine    9.14    NaN    NaN    NaN
          980513  under way using engine    9.14    NaN    NaN    NaN

[1000000 rows x 16 columns]

In [ ]:
#ship is 316018851
jan2017Data.sort_values('BaseDateTime').loc[jan2017Data['MMSI'] == 367530080]

In [6]:
for k, v in jan2017Data.groupby('MMSI', sort=False):
    print(k)
    print(v)
    break

367114690
             MMSI        BaseDateTime       LAT        LON  SOG   COG  \
0       367114690 2017-01-01 00:00:06  48.51094 -122.60705  0.0 -49.6
290     367114690 2017-01-01 00:01:17  48.51093 -122.60705  0.0 -49.6
831     367114690 2017-01-01 00:02:26  48.51094 -122.60707  0.0 -49.6
1799    367114690 2017-01-01 00:03:27  48.51096 -122.60707  0.0 -49.6
3992    367114690 2017-01-01 00:04:36  48.51094 -122.60707  0.0 -49.6
...           ...                 ...       ...        ...  ...   ...
994877  367114690 2017-01-02 00:15:15  48.51092 -122.60707  0.0 -49.6
997708  367114690 2017-01-02 03:17:35  48.51093 -122.60705  0.0 -49.6
998475  367114690 2017-01-02 03:28:36  48.51092 -122.60705  0.0 -49.6
998733  367114690 2017-01-02 03:29:44  48.51092 -122.60705  0.0 -49.6
998879  367114690 2017-01-02 03:32:56  48.51092 -122.60707  0.0 -49.6

        Heading VesselName  IMO CallSign  VesselType                  Status  \
0         511.0        NaN  NaN      NaN         NaN  under way using engine
290       511.0        NaN  NaN      NaN         NaN  under way using engine
831       511.0        NaN  NaN      NaN         NaN  under way using engine
1799      511.0        NaN  NaN      NaN         NaN  under way using engine
3992      511.0        NaN  NaN      NaN         NaN  under way using engine
...         ...        ...  ...      ...         ...                     ...
994877    511.0        NaN  NaN      NaN         NaN  under way using engine
997708    511.0        NaN  NaN      NaN         NaN  under way using engine
998475    511.0        NaN  NaN      NaN         NaN  under way using engine
998733    511.0        NaN  NaN      NaN         NaN  under way using engine
998879    511.0        NaN  NaN      NaN         NaN  under way using engine

        Length  Width  Draft  Cargo
0          NaN    NaN    NaN    NaN
290        NaN    NaN    NaN    NaN
831        NaN    NaN    NaN    NaN
1799       NaN    NaN    NaN    NaN
3992       NaN    NaN    NaN    NaN
...        ...    ...    ...    ...
994877     NaN    NaN    NaN    NaN
997708     NaN    NaN    NaN    NaN
998475     NaN    NaN    NaN    NaN
998733     NaN    NaN    NaN    NaN
998879     NaN    NaN    NaN    NaN

[1388 rows x 16 columns]

In [ ]:
jan2017Data.head()